@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  
}

body {
  @apply bg-dark text-light;
}

.padding-x {
  @apply sm:px-16 px-4;
}

.padding-y {
  @apply sm:py-4 py-2;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.shadow-red {
  box-shadow: rgb(170, 168, 168) 0px 0px 1.3rem -0.5rem;
}

.shadow-red__md{
  box-shadow: rgb(185, 30, 30) 0px 0px 3rem -0.6rem;
}

.shadow-red__text{
  text-shadow: rgb(223, 10, 10) 0px 0px 1rem;
}
.shadow-white__text{
  text-shadow: 0px 0px 8px #ffff;
}
